body {
    background-color:azure;
    font-family: 'Vollkorn';
}


/*FONTS---------------------------*/

.fontBarlow {
    font-family: 'Barlow'
}

.fontDosis {
    font-family: 'Dosis'
}

/*NAVIGATION BAR------------------------*/

.nav-link {
    color: #000;
    font-size: 21px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.nav-link:hover {
    color: rgb(115,192,214);
}


.navigation{
    background-color: #fff;
    height: 45px;
    box-shadow: 0 1px 15px #808080;
}

.social-icons .fab:hover {
        -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
    color: rgb(115,192,214);
}


.fab {
  padding: 10px;
  color: rgb(55, 66, 75);
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/*ABOUT-----------------------*/


.intro-block {
    padding-top: 100px;
    padding-bottom: 20px;
    margin-bottom: 30px;
 
}

@-webkit-keyframes arrow-move {
    0%   {top: 0px;}
    25%  {top: 20px;}
    50%  {top: 0px;}
    75%  {top: 20px;}
    100% {top: 0px;}
}

@keyframes arrow-move {
    0%   {top: 0px;}
    25%  {top: 20px;}
    50%  {top: 0px;}
    75%  {top: 20px;}
    100% {top: 0px;}
}


.intro:hover .fa-angle-down {
    position: relative;
    -webkit-animation: arrow-move 2s infinite;
    animation: arrow-move 2s infinite;
}

/*GALLERY------------------------*/

.caption {
    font-family: 'Barlow';
    color: darkslategrey;
}
    

/*CONTACT-----------------------------*/

.contact {
    margin-top: 100px;
    padding: 50px 0;
}

